DATABASE_URL="postgresql://user:password@localhost:5432/haccp_online"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
SOURCE_SITE_LOGIN_URL="https://lk.haccp-online.ru/docs/login"
SOURCE_SITE_START_URL="https://lk.haccp-online.ru/docs/1"
SOURCE_SITE_USERNAME=""
SOURCE_SITE_PASSWORD=""
NEXTAUTH_URL="http://localhost:3000"
TELEGRAM_BOT_TOKEN=""
RESEND_API_KEY=""
